[data-bs-theme='light'] {
  background-color: white !important;
  color: black !important;
}

[data-bs-theme='dark'] {
  background-color: black;
  color: white !important;
}

[data-bs-theme='light'] .firstpage,
[data-bs-theme='light'] navbar {
  background-color: white !important;
  color: black !important;
}

[data-bs-theme='dark'] .firstpage,
[data-bs-theme='dark'] .navbar {
  background-color: black !important;
  color: white !important;
}
