[data-bs-theme='light'] {
  background-color: white;
  color: black;
  --text-primary: #000;
  --text-secondary: #333;
  --nav-link: #000;
  --accent: #fe4a2b;
  --inverted-bg: #fff;
  --background-card: #f8f9fa;
}

[data-bs-theme='dark'] {
  background-color: black;
  color: white;
  --text-primary: #fff;
  --text-secondary: #ccc;
  --nav-link: #fff;
  --accent: #fe4a2b;
  --inverted-bg: #333;
  --background-card: #222;
}


body {
  color: var(--text-primary) !important;
}
